@import "../../../../styles/variables";

section.participants {
  padding: 40px 0;

  @include media-breakpoint-up(md) {
    padding: 50px 0;
  }

  .sectionTitle {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25rem;
  }

  .sectionSubtitle {
    text-align: center;
    margin-bottom: 3.125rem;
  }

  .loadMore {
    text-align: center;
    margin-top: 3.75rem;
    
    a {
      font-size: .875rem;
      padding: .625rem 3.125rem;
    }
  }

}