@import "../../../../styles/variables";

.hero {
  background-image: url("/images/new_homeBanner.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 70vh;
  color: white;
  text-align: center;
  padding-top: 3.75rem;

  @include media-breakpoint-down(sm) {
    background-image: url("/images/homeBanner_sm.jpg");
    height: 65vh;
  }

  .subtitle {
    margin-bottom: 1.25rem;
    line-height: 1.5;
    display: none;
  }

  .title {
    font-size: 48px;
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.5;
    display: none;
  }

  .date {
    margin-bottom: 2.5rem;
    line-height: 1.5;
  }

  .videoContainer {
    max-width: 946px;
  }
}
