@import '../../../../styles/variables';

.sectionForm {
  padding: 40px 0;
  background-image: url("/images/background-form.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(sm) {
    padding: 100px 0;
  }

  h4 {
    font-weight: 600;
    margin-bottom: 3.125rem;

    span {
      color: $primary;
    }
  }

  form {
    padding: 1.875rem 0.9375rem;
    background-color: $background-grey;
    width: 100%;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;

    .btnSubmitWrapper {
      text-align: center;
      margin-top: 40px;

      button {
        font-size: 0.875rem;
        font-weight: 700;
        padding: 0.625rem 3.125rem;
        border-radius: 0.625rem;
      }
    }

    @include media-breakpoint-up(sm) {
      padding: 1.875rem 6.0625rem;
      max-width: 560px;
    }
  }
}

.customDialog {
  margin: 0 !important;
  border-radius: .625rem !important;
}

.successCard {
  background-color: $background-grey;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4, .successIcon {
    margin-bottom: 1.25rem;
  }

  .infoSuccess {
    font-size: 0.875rem;
    margin-bottom: 1.875rem;
    align-self: baseline;
    padding: 0 1.5rem;
    width: 100%;
  }

  .infoFollow {
    padding: 1.25rem 0;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(199, 199, 199, 0) 100%);
    margin-bottom: 1.25rem;

    .infoSocmed {
      margin-bottom: 1.25rem;
      padding: 0 1.5rem;
      text-align: center;
      font-size: .875rem;
    }

    .instagramCardWrapper {
      display: flex;
      justify-content: space-evenly;

      .instagramCard {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
          margin-bottom: 1.25rem;
        }

        .instagramUsername {
          margin-bottom: 0;
          font-size: .875rem;
        }
      }
    }
  }

  button {
    padding: 0.625rem 3.125rem;
    font-size: .875rem;
  }

  @include media-breakpoint-up(sm) {
    padding: 3.125rem 0;

    .infoSuccess, .infoFollow p {
      padding: 0 2.5rem;
    }
  }
}
