@import "../../../styles/variables";

section.newsPage {
  padding: 20px 0 40px;

  .sectionTitle {
    font-size: 5rem;
    color: $primary;
    line-height: 1.5;
    margin-bottom: 3.125rem;
  }

  @include media-breakpoint-up(sm) {
    padding: 50px 0 100px;

    .sectionTitle {
      font-size: 9rem;
    }
  }
}

section.newsDetail {
  padding: 20px 0 40px;

  @include media-breakpoint-up(sm) {
    padding: 50px 0 100px;
  }

  .otherNews {
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  .news {
    margin-bottom: 5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    
    .imageWrapper {
      margin-bottom: 1rem;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
      }
    }

    .contentWrapper {
      .date {
        font-size: .875rem;
        color: $label-grey;
        margin-bottom: 1rem;
      }

      hr {
        border-color: $label-grey;
        margin: 0 0 .625rem 0;
      }

      .title {
        font-weight: 600;
        margin-bottom: .625rem;
      }

      .desc {
        text-align: justify;
      }
    }
  }
}