@import "../../styles/variables";

.layout {
  position: relative;
  display: flex;
  flex-direction: column;

  .header+main {
    margin-top: 90px;
  }

  .header {
    display: flex;
    align-items: center;
    height: 90px;
    transition: background-color 200ms ease-in-out, height 200ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: #fff;

    .headerContent {
      display: flex;
      align-items: center;
      position: relative;

      .hamburgerWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: unset;
        border: unset;
        outline: unset;
        touch-action: manipulation;
        max-width: 60px;
        min-width: 60px;
        min-height: 60px;
        max-height: 60px;
        border-radius: 50%;
        background-color: $primary;
        margin-right: 1rem;
      }

      .teamsLogo {
        margin-left: auto;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
          margin-right: 20px;
        }

        .trisakti {
          height: 5rem;
        }

        @media (max-width: 576px) {
          img {
            max-width: 50%;
          }
        }
      }
    }

    .navRoot {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #fff;
      background-image: url(/images/nav-bg.png);
      background-size: cover;
      background-position: center;
      height: calc(100vh - 90px);
      overflow: auto;

      @include media-breakpoint-up(md) {
        height: auto;
        max-height: calc(100vh - 90px);
      }

      .navWrapper {
        display: flex;
        flex-direction: column;
        padding: 3rem 0;

        @include media-breakpoint-up(md) {
          flex-direction: row;
          justify-content: space-evenly;
          padding: 5rem 0;
        }

        .navList {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          padding: 0;
          margin: 0;

          .navLink {
            color: $dark;
            transition: color 150ms ease-in-out;
            padding: 0.625rem 1.25rem;
            font-weight: 600;
            text-decoration: unset;
            display: block;
            font-size: 1.5rem;

            &:hover {
              color: $primary;
            }
          }
        }
      }

    }
  }

  .footer {
    background-color: $orange;

    .information {
      padding: 50px 0 20px;
      display: flex;
      flex-wrap: wrap;

      @include media-breakpoint-up(md) {
        padding: 70px 0 40px;
      }

      .infoGroup {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.25rem 1.25rem 1.25rem 0;

        .title {
          font-weight: 500;
          margin-bottom: 1.875rem;
        }

        .info,
        .info2 {
          font-size: 0.875rem;
          line-height: 1.2;

          a {
            color: $dark;
          }
        }

        .info:not(:last-child) {
          margin-bottom: 1.25rem;
        }

        .info2:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        @include media-breakpoint-up(sm) {
          flex: 0 0 50%;
          max-width: 50%;
        }

        @include media-breakpoint-up(md) {
          flex: 0 0 33.3333333333%;
          max-width: 33.3333333333%;
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 1.25rem 0;

      .copyright {
        font-size: 0.875rem;
        color: #fff;
        font-weight: 500;
      }

      .backToTop {
        display: inline-block;
        padding: 0;
        margin: 0 0 1rem 0;
        padding: 1rem;
        background: unset;
        border: unset;
        color: #fff;
        font-weight: 500;
      }

      @include media-breakpoint-up(sm) {
        flex-direction: row;
        justify-content: space-between;

        .backToTop {
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .hamburgerMenu {
    width: 30px;
    height: 20px;
    position: relative;
    transition: transform 220ms ease-in-out;
    transform-origin: center;

    div {
      background-color: #fff;
      width: 30px;
      height: 2px;
      transition: background-color 150ms ease-in-out 0ms,
        width 500ms ease-in-out 150ms, transform 300ms ease-in-out 150ms;
    }

    div:nth-child(1) {
      width: 26px;
      position: absolute;
      top: 0;
    }

    div:nth-child(2) {
      width: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    div:nth-child(3) {
      width: 30px;
      position: absolute;
      bottom: 0;
    }

    &.active {
      transform: rotate(-180deg);

      div {
        width: 30px;
      }

      div:nth-child(3) {
        transform: translate3d(0, -9px, 0) rotate(-45deg);
      }

      div:nth-child(2) {
        transform: scaleX(0);
      }

      div:nth-child(1) {
        transform: translate3d(0, 9px, 0) rotate(45deg);
      }
    }
  }
}
