@import "../../../../styles/variables";

section.posting {
  padding: 40px 0;

  @include media-breakpoint-up(md) {
    padding: 50px 0;
  }

  .sectionTitle {
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
  }

  .contentWrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;

    .contentTitle {
      color: $primary;
      font-size: 2rem;
    }
  }

}
