@import "../../../../styles/variables";

section.prize {
  padding: 40px 0;
  background-color: rgba($primary, 0.1);


  @include media-breakpoint-up(md) {
    padding: 50px 0;
  }

  .sectionTitle {
    font-weight: 600;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  .grandPrize {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.125rem;

    .imageWrapper {
      flex: 1 1 auto;
      margin-bottom: 2.5rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .prizeWrapper {
      flex: 1 1 auto;
      display: flex;
      padding-right: 1rem;
      background-color: $primary;
      border-radius: .625rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

      .prize {
        display: flex;
        padding: 1rem 1rem 0 1rem;
        flex: 1 1 auto;
        font-weight: 600;
        background-color: #fff;
        border-radius: .625rem;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

        .socialMedia {
          color: $primary;
        }

        .text1 {
          margin-bottom: 0;
          line-height: 1.5;
          margin-right: .625rem;
        }

        .text2 {
          font-size: 1rem;
          margin-bottom: 0;
          line-height: 1.5;
          color: $primary;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      width: 60rem;
      margin-bottom: 0;

      .imageWrapper {
        flex: 0 0 auto;
        margin-bottom: 0;
      }

      .prize {
        .text1 {
          font-size: 2.25rem;
        }

        .text2 {
          font-size: 3rem;
        }
      }
    }
  }

  .prizes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    .prizeItem {
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      padding: 1.25rem;
      text-align: center;

      .title {
        line-height: 1.5;
        margin-bottom: .625rem;
      }

      .total {
        line-height: 1.5;
        font-size: 2.25rem;
        color: $primary;
        margin-bottom: .625rem;
      }

      .category {
        line-height: 1.5;
        color: $label-grey;
        margin-bottom: 0;
      }
    }
  }
}
