@import "../../../../styles/variables";

section.news {
  padding: 20px 0 40px;

  @include media-breakpoint-up(md) {
    padding: 50px 0 100px;
  }

  .sectionTitle {
    font-weight: 600;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  .loadMore {
    text-align: center;
    margin-top: 3.125rem;
    
    a {
      font-size: .875rem;
      padding: .625rem 3.125rem;
    }
  }

}