@import "../../../styles/variables";

.newsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  // gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 2.5rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  &.onePerRow {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .news {
    display: block;
    text-decoration: unset;
    border-radius: .625rem;

    .imageWrapper {
      margin-bottom: .625rem;
      position: relative;

      img {
        width: 100%;
        height: 178px;
        object-fit: cover;
        object-position: center;
        border-radius: .625rem;
      }

      .date {
        position: absolute;
        bottom: .3125rem;
        right: .3125rem;
        color: $dark;
        background-color: #fff;
        padding: .3125rem 1.25rem;
        border-radius: .25rem;
        font-size: .75rem;
      }
    }

    .contentWrapper {
      .title {
        line-height: 1.5;
        color: $dark;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-bottom: .3125rem;
      }

      .desc {
        font-size: .875rem;
        color: $label-grey;
        margin-bottom: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    }
  }
}