@import "../../../styles/variables";

.participantList {
  overflow-x: auto;
  width: 100%;

  table {
    width: 100%;

    thead tr th {
      background-color: rgba($primary, 0.1);
      font-weight: 500;
    }

    td,
    th {
      padding: 1.125rem 1.25rem;
    }

    td {
      border-bottom: 1px solid #C4C4C4;
    }
  }
}