@import "../../../../styles/variables";

section.category {
  padding: 40px 0 20px;

  @include media-breakpoint-up(md) {
    padding: 100px 0 50px;
  }

  .sectionTitle {
    font-weight: 600;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  .categoryWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.25rem;
    row-gap: 2.5rem;

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(4, 1fr);
    }

    .categoryItem {
      display: flex;
      flex-direction: column;

      .imageWrapper {
        margin-bottom: .625rem;

        img {
          width: 100%;
          // height: 300px;
          // object-fit: cover;
          // object-position: center;
        }
      }

      .textWrapper {

        .title {
          margin-bottom: .625rem;
          color: $primary;
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.5;
        }

        .desc {
          margin-bottom: 0;
        }
      }
    }
  }
}