@import "../../../../styles/variables";

section.assesment {
  padding: 40px 0;
  margin-bottom: 10rem;

  @include media-breakpoint-up(md) {
    padding: 50px 0;
  }

  .sectionTitle {
    font-weight: 600;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  .assesmentWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    .assesmentItem {
      display: flex;
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: .25rem;

      .textWrapper {
        padding: 1rem .625rem 1rem 1.25rem;
        flex: 1 1 auto;

        @include media-breakpoint-up(md) {
          padding: 1.25rem 1.875rem;
        }

        .title {
          margin-bottom: .625rem;
          color: $primary;
          font-weight: 700;
          line-height: 1.5;
        }

        .desc {
          margin-bottom: 0;
        }
      }

      .imageWrapper {
        flex: 0 0 122px;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 0 .25rem .25rem 0;
        }
      }
    }
  }
}
