@import '../../../../styles/variables';

.terms {
  padding: 40px 0;

  @include media-breakpoint-up(sm) {
    padding: 100px 0;
  }

  h4 {
    text-align: center;
    margin-bottom: 3.4375rem;
    font-weight: 600;
  }

  h6 {
    font-weight: 700;
    color: $primary;
    margin-bottom: 1.25rem;
  }

  ol {
    list-style: none;
    padding-left: 1rem;
    counter-reset: my-counter;
    position: relative;

    li {
      counter-increment: my-counter;
      padding-left: 0.9375rem;

      .ig {
        color: $primary;
      }

      &:not(:last-child) {
        margin-bottom: 0.9375rem;
      }

      &::before {
        position: absolute;
        left: 0;
        content: counter(my-counter) ". ";
      }
    }
  }
}
