@import "../../../styles/variables";

section.participantPage {
  padding: 20px 0 40px;

  .sectionTitle {
    font-size: 5rem;
    color: $primary;
    line-height: 1.5;
    margin-bottom: 3.125rem;
  }

  @include media-breakpoint-up(sm) {
    padding: 50px 0 100px;

    .sectionTitle {
      font-size: 9rem;
    }
  }
}