// Body
$body-bg: #fff;
$body-color: #222;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$headings-line-height: 1.5;

// Colors
$danger: #C60000;
$primary: #FF5B00;
$orange: #FF7A00;
$background-grey: #F2F2F2;
$dark: #222;
$label-grey: #A8A8A8;
$placeholder-grey: #C7C7C7;

$theme-colors: (
  "orange": $orange
);

$btn-font-weight: 700;
$btn-border-radius: .625rem;

// $input-border-width: 0;
$label-margin-bottom: .625rem;
$form-group-margin-bottom: 1.25rem;

$input-border-color: #fff;
$input-font-size: .875rem;
$input-padding-y: .625rem;
$input-placeholder-color: $label-grey;
$input-focus-border-color: $primary;
$input-focus-box-shadow: unset;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
