@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 14px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

label {
  font-size: .875rem;
}

// NPROGRESS
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar-wrapper {
  background: $placeholder-grey;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

#nprogress .bar {
  background: $primary;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}