@import "../../styles/variables";

.formGroup {
  :global {
    .form-control-file {
      font-size: .875rem;
    }
  }


  .helperText {
    color: $label-grey;
    font-size: .75rem;
    margin-top: .25rem;
    margin-bottom: 0;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &.error .helperText {
    color: $danger;
  }
}